/*<-----------------------------Main page----------------------------->*/
body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

/*<------------------------------Header------------------------------>*/

.section-header {
  background: url("../img/headerbackground.jpg") no-repeat fixed;
  background-size: cover;
  height: 1012px;
}

/*<-------------------------------Logo------------------------------->*/

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: rgba(94, 93, 88, 0.6);
}

.logo-holder {
  position: relative;
  text-align: center;
  margin-left: 150px;
}

.logo-symbol-h {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  font-weight: 700;
}

/*<------------------------------Log-text------------------------------>*/

.logo-headline-text {
  margin-left: 5px;
  margin-top: 5px;
}

.logo-header-text {
  text-decoration: none;
}

.logo-header-the {
  color: white;
  font-weight: 300;
  margin-left: 1px;
  font-size: 32px;
}

.logo-header-ham {
  color: #18cfab;
  font-weight: bolder;
  font-weight: 700px;
  font-size: 32px;
  line-height: 48px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*<------------------------------Menu------------------------------>*/

.navigation {
  display: flex;
  list-style: none;
  margin-left: 150px;
  justify-content: space-around;
}

.search{
  position: relative;
  margin-right: 15px;
  cursor: pointer;
}

.nav-item {
  text-decoration: none;
  position: relative;
  color: white;
  margin-left: 10px;
  margin-right: 30px;
  font-weight: 700;
  color: gainsboro;
}

.nav-item {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 1.2rem;
}

.nav-item:hover {
  color: #18cfab;
}

.nav-item a:hover {
  color: #18cfab;
  border-bottom: 1px solid #18cfab;
}
.nav-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  transition: all 0.4s ease;
  left: 0;
  bottom: -52px;
  background-color: #18cfab;
  opacity: 0;
  transform: scaleX(0);
}

.nav-item:hover:after {
  opacity: 1;
  transform: scaleX(1);
}

/*<------------------------------Section content text------------------------------>*/

.content-text {
  margin-top: 250px;
}

.head-line-text1 {
  text-align: center;
}

.ham-is {
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.word-theme {
  color: #18cfab;
  font-size: 40px;
  font-weight: 700;
}

.head-line-text2 {
  text-align: center;
  color: white;
  font-size: 90px;
  font-weight: 700;
  margin: 0 auto;
}
.head-line-text3 {
  text-align: center;
  color: white;
  font-size: 40px;
  margin: 0 auto;
}
/*<------------------------------Button main------------------------------>*/

.button-main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.button-1 {
  background-color: #18cfab;
  font-size: 15px;
  margin-right: 15px;
  padding: 10px;
  border-color: #18cfab;
  border-radius: 10px;
  color: white;
  border-top: white 5px solid;
  font-weight: 700;
  width: 169px;
  height: 63px;
  margin-left: 26px;
  cursor: pointer;
}

.button-1:hover {
  background-color: #12a285;
  border-bottom: 5px solid #12a285;
}
.button-2 {
  background-color: #00cbf6;
  font-size: 15px;
  margin-left: 15px;
  padding: 10px;
  border-color: #00cbf6;
  border-radius: 10px;
  color: white;
  border-top: white 5px solid;
  font-weight: 700;
  width: 169px;
  height: 63px;
  margin-right: 26px;
  cursor: pointer;
}
.button-2:hover {
  background-color: #007e97;
  border-bottom: 5px solid #007e97;
}

/*<------------------------------Picture section------------------------------>*/

.section-2 {
  display: flex;
  height: 380px;
  margin-top: 5px;
}

.img-bg {
  width: 25%;
}
.color-grey {
  background-color: #1c2a33;
  justify-content: center;
}

.color-green {
  background-color: #18cfab;
  justify-content: center;
}

/*<----------------------------Picture section icon---------------------------->*/

.img-position {
  height: 350px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/*<----------------------------Picture section text---------------------------->*/

.subject-text-different {
  color: #18cfab;
  text-align: center;
  margin-top: -100px;
  font-size: 20px;
  font-weight: 700;
}
.subject-text-fully {
  color: white;
  text-align: center;
  margin-top: -100px;
  font-size: 20px;
  font-weight: 700;
}

.subject-text-unlimited {
  color: #18cfab;
  text-align: center;
  margin-top: -100px;
  font-size: 20px;
  font-weight: 700;
}
.subject-text-responsive {
  color: white;
  text-align: center;
  margin-top: -100px;
  font-size: 20px;
  font-weight: 700;
}
/*<----------------------------Section Our Services---------------------------->*/

.section-3 {
  margin: 0 auto;
  width: 1160px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: 5rem 0;
  line-height: 1.5rem;
  font-weight: 300;
  font-size: 1rem;
}
.section-3 h2 {
  font-weight: 400;
  font-size: 2rem;
  position: relative;
  padding: 1rem 0;
}
.section-3 h2::after {
  content: "";
  width: 78px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  top: 110%;
  left: 30%;
}
.section-3 h2::before {
  content: "";
  width: 78px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  top: 120%;
  left: 35%;
}
.service-section-nav-wrapper {
  width: 1160px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding-top: 2rem;
}
.service-section-nav-wrapper ul {
  width: 1160px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.service-section-nav-wrapper ul li {
  border-top: 1px solid #edefef;
  border-bottom: 1px solid #edefef;
  border-left: 1px solid #edefef;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: background 0.7s;
}
.service-section-nav-wrapper ul li:hover {
  border: 1px solid #18cfab;
}
.last-border {
  border-right: 1px solid #edefef;
}
.list-active {
  background-color: #18cfab;
  color: white;
}
.service-menu-item img {
  width: 192px;
}
.service-menu-item.active {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.not-active {
  display: none;
}
/*<----------------------------Section 4---------------------------->*/

.section-4 {
  background: url(../img/section-2.jpg) no-repeat fixed;
  background-size: cover;
  height: 600px;
}
.rgba-back {
  background: rgba(0, 0, 0, 0.8);
  height: 600px;
}

.content-section-4-container {
  padding: 100px 0px 0px 0px;
}

.content-section-4 {
  margin-top: 100px;
  text-align: center;
  color: #18cfab;
  font-size: 40px;
  font-weight: 700;
}

.content-section-4-2 {
  color: white;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
}
.content-section-4-3 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
/*<----------------------------Section 5---------------------------->*/

.section-5 {
  /* margin: 0 auto;
  width: 1160px; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: 5rem 0;
  line-height: 1.5rem;
  font-weight: 300;
  font-size: 1rem;
  background-color: #e9edef;
}
/*<------------------------Our Amazing Work-------------------------->*/

.section-5 h2 {
  font-weight: 400;
  font-size: 2rem;
  position: relative;
  padding: 1rem 0;
}
.section-5 h2::after {
  content: "";
  width: 78px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  top: 110%;
  left: 30%;
}
.section-5 h2::before {
  content: "";
  width: 78px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  top: 120%;
  left: 35%;
}

.tabs-ul, .tabs-li {
  border: 1px solid rgb(218, 218, 218);
}
.conteiner-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid-items {
  position: relative;
  width: 180px;
  height: 130px;
}
.grid-items img:first-child {
  width: 180px;
  height: 130px;
}
.grid-items-icon{
  position: absolute;
  top: 10px;
  left: 40px;
  display:none;
}
.grid-items:hover .grid-items-icon {
  display:block;
}
.grid-items:hover .grid-items-design {
  display:block;
}
.grid-items:hover .grid-items-graphic-design {
  display:block;
}
.grid-items:hover img:first-child {
  opacity: 0;
}
.grid-items-design{
  position: absolute;
  font-size: 12px;
  top: 60px;
  left: 40px;
  color: #18cfab;
  display:none;
}
.grid-items-graphic-design {
  position: absolute;
  font-size: 12px;
  top: 85px;
  left: 55px;
  display:none;
}
.not-active {
  display: none;
}

.amazing-section-nav-wrapper {
  width: 700px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding-top: 2rem;
}
.amazing-section-nav-wrapper ul {
  width: 720px;
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.amazing-section-nav-wrapper ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: background 0.7s;
}
.active-show{
  color: #18cfab;
  border: 1px solid #18cfab;
}
.button-amazing {
  background-color: #18cfab;
  font-size: 18px;
  margin-right: 15px;
  padding: 10px;
  border-color: #18cfab;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  width: 169px;
  height: 63px;
  margin-left: 26px;

  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button-amazing:hover {
  background-color: #12a285;
  border-bottom: 1px solid #12a285;
}
.button-amazing img {
  padding: 0px 10px 0px 0px;
}
/*<----------------------------Section 6---------------------------->*/

.section-6 {
  margin: 0 auto;
  padding: 100px;
  width: 1160px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
  line-height: 1.5rem;
  font-weight: 300;
  font-size: 1rem;
  padding-bottom: 5rem;
}

.section-6 h2 {
  font-weight: 400;
  font-size: 2rem;
  position: relative;
  padding: 1rem 0;
}
.section-6 h2::after {
  content: "";
  width: 78px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  top: 110%;
  left: 30%;
}
.section-6 h2::before {
  content: "";
  width: 78px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  top: 120%;
  left: 35%;
}

.breaking-item a {
  text-decoration: none;
}
.breaking-item a:visited {
  color: rgb(113, 113, 113);
}
.section-6 p:not(:last-child) {
  font-weight: 700;
}
.section-6 p {
  padding-left: 5%;
}
.breaking-news-section-gallery-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 255px);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.not-active{
  display: none;
}

.breaking-item {
  position: relative;
}
.breaking-item img {
  width: 260px;
}
.after {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 190px;
  color: white;
  background-color: #203e38;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.breaking-item:hover .after {
  background-color: #18cfab;
  cursor: pointer;
}
.breaking-item:hover {
  cursor: pointer;
}
.breaking-item:hover p:not(:last-child) {
  color: #18cfab;
}
/*<----------------------------Section 7---------------------------->*/
.section-7 {
  height: 853px;
  
  background: url(../img/background\ secsion\ 7.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 1rem;
  text-align: center;
  padding-top: 2rem;
  padding: 100px;
}
.about-section-wrapper {
  max-width: 1160px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
 
}

.about-section-wrapper p:first-child {
  font-weight: 300;
  line-height: 2rem;
  color: #bbbbbb;
}
.section-7 h2 {
  font-weight: 400;
  font-size: 2rem;
  color: #ffffff;
  position: relative;
  margin-bottom: 2rem;
}
.about-hide {
  display: none;
}
.quotes {
  color: #18cfab;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.section-7 h2::after {
  content: "";
  width: 78px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  top: 180%;
  left: 40%;
}
.section-7 h2::before {
  content: "";
  width: 78px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  top: 190%;
  left: 45%;
}
.about-name {
  padding: 2rem 0 1rem 0;
  text-transform: uppercase;
  color: #18cfab;
  font-weight: 700;
}
.about-position {
  padding: 0 0 3rem 0;
  color: #bbbbbb;
}
.about-img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  border: 5px solid rgba(31, 218, 181, 0.4);
  cursor: pointer;
  transition: 0.5s;
}
.left-arrow,
.right-arrow {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border: 1px solid white;
}

.right-arrow, .left-arrow {
padding-top: 5px;
cursor: pointer;
}

.left-arrow:active,
.right-arrow:active {
  border: 1px solid white;
  
}
.left-arrow:hover{
  background-color: #18cfab; 
}
.right-arrow:hover{
  background-color: #18cfab; 
}
.section-7 nav {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
}
.section-7 nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
}
ul .about-img {
  width: 80px;
  height: 80px;
  border: 2px solid rgba(31, 218, 181, 0.4);
}
ul .about-img:hover {
  transform: scale(1.2);
}
.active-li {
  transform: translateY(-20px);
}
.about-section-wrapper p:first-child {
  height: 100px;
}
/*<-----------------------------footer---------------------------->*/

.footer {
  display: flex;
  margin-top: -2px;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(38, 53, 62);
  color: #AEAEAE;
  font-size: 14px;
}

.green-font{
  color: #18cfab;
  padding: 5px;

}

.breaking-item>a>p {
  color: #717171;
}